body{
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr 7fr 1fr;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgb(168, 128, 177);
    text-align: center;
}
section{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:rgb(197, 165, 204) ;
}

main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(232, 196, 243);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

footer{
    grid-column: 1/3;
    grid-row: 3/4;
    background-color: lightpink;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.big-font{
    font-size: 1.5em;
}
textarea{
    display: flex;
    width: 85%;
    height: 85%;
    justify-content: center;
    justify-content: center;
    border-radius: 8px;
    margin-left: 7%;
}
.save{
    border-radius: 8px;
    background-color: seagreen;
    border: 2px solid seagreen;
    font-size: 1em;
    color: white;
    margin: 2%;
}
.cancel{
    border-radius: 8px;
    background-color: red;
    border: 2px solid red;
    font-size: 1em;
    color: white;
}
.theme{
    border-radius: 8px;
    background-color: grey;
    border: 2px solid gray;
    font-size: 1em;
    color: white;
    margin-left: 30%;
}
.new{
    border-radius: 8px;
    background-color: seagreen;
    border: 2px solid seagreen;
    font-size: 1em;
    color: white;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
}
